@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.everything {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(#E3F9EB 0%, #D9F4E6 30%, #AFD5C5 40%, #AFD5C5 100%);
    color: rgba(20, 24, 24, 0.853);
    font-family: "Poppins", sans-serif;
    overflow-y: auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a {
    text-decoration: none;
}

/* Navigation bar */

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-inline: 0.5rem;
    border-radius: 2px;
    background-color: transparent;
    font-size: 1.5em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-button {
    width: 2rem;
    height: 2rem;
    border: none;
    background: none;
    transform: scale(1.5);
}

.navbar-middle {
    color: rgba(28, 33, 33, 0.85);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/* Big weather */

.bigweather {
    flex-grow: 1;
    padding-left: 1.5rem;
    font-size: 1rem;
    background-image: url("./assets/big.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.temperature {
    padding-top: 0.5rem;
    font-size: 5em;
    line-height: 1em;
}

/* Cards */

.cards {
    padding-inline: 0.5rem;

    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
}

.column {
    display: flex;
    flex-flow: column nowrap;
}

.left-column {
    flex: 55;
}
.right-column {
    flex: 45;
}

.label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.label button {
    height: 2rem;
    aspect-ratio: 1 / 1;
    transform: scale(1.2);
    border: none;
    background: none;
}

.label span {

    font-weight: 600;
    padding-left: 0.5rem;
}

.card {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #ffffff70;
    border: 5px #61847f solid;
    /* box-shadow: 0 0 0 3px green; */
    box-sizing: border-box;
}
.forecast {
    padding: 0;
}
.forecast ul {
    margin: 0;
    padding: 0;
}
.forcast-item {
    width: 100%;
    height: 3.5rem;
    padding-inline: 0.5rem;
    /* border-bottom: 0px solid #858a88b1; */
    list-style-type: none;
    box-sizing: border-box;
    background: linear-gradient(#e3f9eb00 50%, #6e98881e 90%);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.forcast-item :first-child {
    font-size: 1.2em;
    width: 2rem;
    font-weight: 600;
    text-align: center;
}
.forcast-item img {
    transform: scale(1.2);
}


.quadbox {
    font-size: 0.7em;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.quadbox-item {
    background: linear-gradient(#e3f9eb00 50%, #6e98881e 90%);
    height: 5rem;
    border: 1.5px solid rgba(69, 108, 89, 0.1);

    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.quadbox-item :first-child {
    font-weight: 600;
    padding-top: 2px;
    padding-left: 4px;
}

.quadbox-item :last-child {
    text-align: right;
    padding-right: 5px;
    padding-bottom: 3px;
}


.info2 {
    
    flex-grow: 1;
    padding-inline: 0.5rem;
    padding-top: 0.22rem;
    font-size: 0.8em;
    background-image: url("./assets/mid1.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.info2 :first-child {
    font-weight: 600;
    padding-right: 3px;
}
.info2 :last-child {
    padding-right: 3px;
}


.info3 {

    /* background: linear-gradient(#ffffff70 50%, #354e441e 90%); */

    flex-grow: 1;
    font-size: 0.7em;
    background-image: url("./assets/mid2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    padding:0;
}

.info3 :first-child {
    font-weight: 600;
    padding-top: 2px;
    padding-left: 6px;
}

.info3 :last-child {
    text-align: center;
    padding-bottom: 3px;
}